@tailwind base;
@tailwind components;
@tailwind utilities;
h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
/*a {*/
/*  @apply text-blue-600 underline;*/
/*}*/


button{
  color: red;
}

@media all and (min-width: 500px) {
  .wrapper {
    display: flex;
  }
}

.showScore{
  background-color: white;
  width: 20%;
  position: fixed;
  right: 0;
}

.showComment{
  position: absolute;
  background-color: black;
  color: white;
  overflow: auto;
  width: 80%;
}
.default-white{
 color: #F2F2F2;
}
.default-black{
 color: #262626;
}
.light-green{
 color: #4ED9A6;
}
.default-green{
 color: #45BF9D;
}
.dark-green{ 
  color: #487367;
}

/*table {*/
/*  background-color: #45BF9D;*/
/*  color: #F2F2F2;*/
/*  border: solid 2px black;*/
/*  border-collapse: collapse;*/
/*}*/
/*table th, table td {*/
/*    border: solid 2px black;*/
/*}*/

.scoreTable {
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*margin:auto;*/
  /*top: 0%;*/
  /*left: 0%;*/
  margin-left: 10%;
  width: 80%;
  background-color: #45BF9D;
}

table.scoreTable th{
    
}

.calendarTable {
  background-color: #F2F2F2;
  color: #45BF9D;
}
a {

}
a.calendarclass{
  text-align: center;
  color: #45BF9D;
  text-decoration: none;
}
table.daycell td{
  color: #45BF9D;
  text-decoration: none;
}
a.ShowClass {
  color: #F2F2F2;
  background-color: #262626;
  text-decoration: none;
}
a.ShowClass :hover{
  color: #F2F2F2;
  background-color: #487367;
  text-decoration: none;
}
